{"openapi":"3.0.0","info":{"title":"TODO-SERVER","description":"Test server for liga intership","version":"1.0.0"},"servers":[{"url":"https://tasks-service-maks1394.amvera.io"}],"paths":{"/tasks":{"get":{"summary":"Получить все задачи","tags":["Tasks"],"parameters":[{"name":"isImportant","in":"query","required":false,"schema":{"type":"boolean"},"description":"Фильтр по важности задач","example":true},{"name":"name_like","in":"query","required":false,"schema":{"type":"string"},"description":"Поиск задач по названию (регистронезависимый)","example":"Задача"},{"name":"isCompleted","in":"query","required":false,"schema":{"type":"boolean"},"description":"Фильтр по завершенности задач","example":false}],"responses":{"200":{"description":"Успешный ответ","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Task"}}}}},"500":{"description":"Ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"summary":"Создать новую задачу","tags":["Tasks"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTask"}}}},"responses":{"201":{"description":"Задача создана","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"description":"Неверные данные","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/tasks/{id}":{"get":{"summary":"Получить задачу по ID","tags":["Tasks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"ID задачи"}],"responses":{"200":{"description":"Успешный ответ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"description":"Неверный ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Задача не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"summary":"Обновить задачу","tags":["Tasks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"ID задачи"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTask"}}}},"responses":{"200":{"description":"Задача обновлена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"description":"Неверные данные","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Задача не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"summary":"Удалить задачу","tags":["Tasks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"ID задачи"}],"responses":{"200":{"description":"Задача удалена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"description":"Неверный ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Задача не найдена","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Ошибка сервера","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}},"components":{"schemas":{"Task":{"type":"object","properties":{"id":{"type":"integer","example":1},"name":{"type":"string","example":"Сделать домашку по запросам"},"info":{"type":"string","example":"Использовать патерн controller"},"isImportant":{"type":"boolean","example":true},"isCompleted":{"type":"boolean","example":false}}},"CreateTask":{"type":"object","required":["name"],"properties":{"name":{"type":"string","example":"Новая задача"},"info":{"type":"string","example":"Описание задачи"},"isImportant":{"type":"boolean","example":false},"isCompleted":{"type":"boolean","example":false}}},"UpdateTask":{"type":"object","properties":{"name":{"type":"string","example":"Обновленное название"},"info":{"type":"string","example":"Обновленное описание"},"isImportant":{"type":"boolean","example":true},"isCompleted":{"type":"boolean","example":true}}},"Error":{"type":"object","properties":{"error":{"type":"string","example":"Сообщение об ошибке"}}}}}}